
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.Date | date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Deadlift">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadlift </th>
      <td mat-cell *matCellDef="let element"> {{element.Deadlift}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Dbell_Row">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dumbell Row </th>
      <td mat-cell *matCellDef="let element"> {{element.Dbell_Row}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Bbell_Press">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Barbell Press </th>
      <td mat-cell *matCellDef="let element"> {{element.Bbell_Press}} </td>
    </ng-container>

    <ng-container matColumnDef="Squat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Squat </th>
      <td mat-cell *matCellDef="let element"> {{element.Squat}} </td>
    </ng-container>

    <ng-container matColumnDef="Lat_Pull">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lateral Pulldown </th>
      <td mat-cell *matCellDef="let element"> {{element.Lat_Pull}} </td>
    </ng-container>

    <ng-container matColumnDef="Bench_Press">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bench Press </th>
      <td mat-cell *matCellDef="let element"> {{element.Bench_Press}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
